@use 'variables' as *;
@use 'reset' as *;
@use 'classes' as *;
@use 'media-queries' as *;
@use 'utils' as *;
@use 'base' as *;

.container {
   min-height: 100vh;
   display: grid;
   grid:
      "header" auto "content" 1fr 'footer' auto / auto
}

header {
   grid-area: header;
   background: green;
   padding: 20px;
}

.content {
   grid-area: content;
   // background: red;
   padding: 20px;

}

footer {
   grid-area: footer;
   // background: rgb(80, 80, 80);
   padding: 20px;
}